* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: linear-gradient(315deg, #3b438d 0%, #3b3439 74%);
  color: #a79c9c;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  height: 650px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5%;
  background-image: linear-gradient(315deg, #391b3c 0%, #3a3146 74%);
  border: 2px solid black;
  -webkit-box-shadow: -2px 2px black;
          box-shadow: -2px 2px black;
}

.wrapper .assets-info {
  width: 100%;
  height: 100%;
  padding-top: 30px;
  background-image: linear-gradient(315deg, #552c59 0%, #332d3b 74%);
  border-radius: 5%;
}

.btc,
.eth,
.bnb,
.doge,
.coin {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  text-align: center;
  padding: 10px;
  color: #a79c9c;
}

.coin {
  padding-bottom: 30px;
  color: #dfd5d5;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
}

.logo .one,
.logo .two,
.logo .three,
.logo .four {
  width: 50px;
  height: 40px;
  background-color: #433f46;
  border-radius: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo .one .oneMore,
.logo .one .fourMore,
.logo .two .oneMore,
.logo .two .fourMore,
.logo .three .oneMore,
.logo .three .fourMore,
.logo .four .oneMore,
.logo .four .fourMore {
  width: 70%;
  height: 70%;
  -webkit-transform: translateY(-13%);
          transform: translateY(-13%);
}

.logo .one .twoMore,
.logo .two .twoMore,
.logo .three .twoMore,
.logo .four .twoMore {
  -webkit-transform: scale(0.15);
          transform: scale(0.15);
}

.logo .one .threeMore,
.logo .two .threeMore,
.logo .three .threeMore,
.logo .four .threeMore {
  -webkit-transform: scale(0.06);
          transform: scale(0.06);
}

.coin {
  font-size: 20px;
}

h1 {
  margin: 20px;
  font-size: 28px;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
}

.bottomBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 30px;
}

.bottomBtn button {
  width: 30%;
  height: 40px;
  text-align: center;
  font-size: 16px;
  background-color: #753a7b;
  color: white;
  border-radius: 20%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  border: 2px solid #391b3c;
  -webkit-box-shadow: -1px 1px black;
          box-shadow: -1px 1px black;
}

button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.bottomOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 90%;
  height: 25%;
  margin: 40px 25px 30px;
}

.bottomOne .assets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  font-size: 18px;
  color: white;
  text-align: center;
}

.bottomOne .assets p {
  color: #a79c9c;
  font-size: 16px;
}

.top {
  position: absolute;
  right: 0px;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  margin-right: 15px;
}

.topBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.topBtn button {
  width: 100px;
  height: 30px;
  background-color: red;
  margin: 5px;
  text-align: center;
  font-size: 16px;
  background-color: #722a7a;
  color: white;
  border-radius: 12%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  border: 2px solid #391b3c;
  -webkit-box-shadow: -1px 1px black;
          box-shadow: -1px 1px black;
}

.topBtn button :hover {
  cursor: pointer;
}

.shadow {
  position: absolute;
  width: 100vw;
  height: 110vh;
  background-image: linear-gradient(315deg, #3b438d 0%, #3b3439 74%);
  opacity: 0.9;
  z-index: -8;
}

.walletFake {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 30vh;
  width: 80vw;
  max-width: 450px;
  min-width: 150px;
  min-height: 150px;
  padding: 10px;
  border-radius: 15%;
  text-align: center;
  border: 2px solid black;
  background-color: #6d3259;
  z-index: -10;
}

.walletFake h3 {
  padding: 10px;
}

.walletFake p {
  padding-bottom: 15px;
}

.walletFake button {
  width: 100px;
  height: 30px;
  margin: 5px;
  text-align: center;
  font-size: 16px;
  background-color: #722a7a;
  color: white;
  border-radius: 12%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  border: 2px solid #391b3c;
  -webkit-box-shadow: -1px 1px black;
          box-shadow: -1px 1px black;
}

.walletFake button :hover {
  cursor: pointer;
}

.inside {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40vw;
  max-width: 600px;
  max-height: 600px;
  min-width: 300px;
  min-height: 250px;
  height: 20vh;
  background-color: #6d3259;
  border-radius: 15%;
  border: 2px solid #550a48;
  color: white;
  z-index: 10;
  font-size: 14px;
  z-index: -10;
}

.inside .amount {
  padding-top: 10px;
}

.inside .output {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
}

.inside select {
  width: 60px;
  height: 100%;
  border-radius: 15%;
  background-color: #450f44;
  color: white;
  border: none;
}

.inside select option {
  border: none;
  margin: 100px;
}

.inside svg {
  margin: 10px;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.inside button {
  width: 100px;
  height: 30px;
  margin: 5px;
  text-align: center;
  font-size: 16px;
  background-color: #722a7a;
  color: white;
  border-radius: 12%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  border: 2px solid #391b3c;
  -webkit-box-shadow: -1px 1px black;
          box-shadow: -1px 1px black;
}

.inside button :hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
  .top {
    font-size: 12px;
  }
  .top button {
    width: 80px;
    height: 30px;
    font-size: 16px;
  }
}

@media (max-width: 678px) {
  .wrapper {
    width: 80vw;
  }
  .top button {
    width: 60px;
    height: 30px;
    font-size: 16px;
  }
}

@media (max-width: 540px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 16px;
  }
  .top button {
    width: 50px;
    height: 20px;
    font-size: 12px;
  }
  .bottomOne .assets {
    font-size: 14px;
  }
  .bottomOne .assets p {
    font-size: 12px;
  }
}

@media (max-width: 460px) {
  .coin {
    font-size: 16px;
  }
  h1 {
    font-size: 16px;
  }
  h2 {
    font-size: 10px;
  }
  .top {
    font-size: 12px;
  }
  .top button {
    width: 40px;
    height: 20px;
    font-size: 10px;
  }
  .bottomOne .assets {
    font-size: 12px;
  }
  .bottomOne .assets p {
    font-size: 10px;
  }
  .assets-info .accountInfo,
  .assets-info .buy,
  .assets-info .sell {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .top {
    font-size: 10px;
  }
  .top button {
    width: 30px;
    height: 15px;
    font-size: 10px;
  }
  .bottomOne {
    position: relative;
    bottom: 30px;
  }
}
/*# sourceMappingURL=main.css.map */